
/* @group General Styling */

body {
	background: #fff;
	color: #505050;
	padding-top: 40px;
	text-shadow: #e8e8e8 1px 1px 0;
}

#topfade {
	width: 100%;
	height: 70px;
	position: fixed;
	background: url(top_bg.png) repeat-x;
	top: 0;
}

#bottomfade {
	width: 940px;
	height: 70px;
	position: fixed;
	background: url(bottom_bg.png) repeat-x;
	bottom: 0;
}

div.container_12 div.grid_8.prefix_3 img {
	margin-top: 8px;
	margin-bottom: 10px;
}

.bullet {
	position: relative;
	top: -12px;
}

nav {
	position: fixed;
	width: 140px;
}

img {
	margin-bottom: 0px;
}

.left {
	float: left;
}

.right {
	float: right;
}


/* Class for Titles of portfolio pieces, that are not links (eg printed items) */

.title {
	color: #404a47;
	margin-bottom: 10px;
	display: block;
}

/* Portfolio Project Title Links */
a.project {
	margin-bottom: 10px;
}

/* @end */


/* @group Navigation */

/* Navigation Buttons */
ul.navigation li a:active {
	opacity: 0.75;
}


#button_home {
	width: 112px;
	height: 112px;
	display: block;
	background: url(home.png) no-repeat -112px 0px;
	margin-top: 15px;
	margin-bottom: 20px;
	text-shadow: none;
	text-indent: -9999px;
}

#button_team {
	width: 112px;
	height: 112px;
	display: block;
	background: url(team.png) no-repeat -112px 0px;
	margin-bottom: 20px;
	text-shadow: none;
	text-indent: -9999px;
}

#button_work {
	width: 112px;
	height: 112px;
	display: block;
	background: url(work.png) no-repeat -112px 0px;
	margin-bottom: 20px;
	text-shadow: none;
	text-indent: -9999px;
}

#button_contact {
	width: 112px;
	height: 112px;
	display: block;
	background: url(contact.png) no-repeat -112px 0px;
	margin-bottom: 20px;
	text-shadow: none;
	text-indent: -9999px;
}


/* Navigation Hover State */
#button_home:hover {
	background: url(home.png) no-repeat 0px 0px;
	text-decoration: none;
	text-indent: -9999px;
}

#button_team:hover {
	background: url(team.png) no-repeat 0px 0px;
	text-decoration: none;
	text-indent: -9999px;
}

#button_work:hover {
	background: url(work.png) no-repeat 0px 0px;
	text-decoration: none;
	text-indent: -9999px;
}

#button_contact:hover {
	background: url(contact.png) no-repeat 0px 0px;
	text-decoration: none;
	text-indent: -9999px;
}

/* @end */

/* @group UL for Portfolio Description */

/* Unordered List for portfolio piece features */
ul {
	list-style-type: none;
	margin-top: 10px;
	margin-bottom: 20px;

}
/* @end */

/* @group Footer */

#mailto {
	padding: 6px 0px 6px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	background: #888;
	width: 260px;
	text-shadow: none;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

#mailto:hover {
	background: #555;
}

.footer {
	padding: 8px 0px 8px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	background: #888;
	width: 540px;
	float: left;
	text-shadow: none;
}

/* @end */

/* @group Form Styling */

/* Form Button */
.button {
	width: 308px;
	height: 48px;
	display: block;
	background: url(submit.png) no-repeat 0px 0px;
	font-family: "Museo700","Myriad Pro",Helvetica,sans-serif;
	font-size: 20px;
	color: #505050;
	padding-left: 30px;
	margin-bottom: 20px;
	text-shadow: none;
	border-style: none;
	text-align: center;
	text-indent: -20px;
}

/* Form Button Hover State */
.button:hover {
	background: url(submit.png) no-repeat 0px -48px;
	text-decoration: none;
	color: #930005;
	font-family: "Museo700","Myriad Pro",Helvetica,sans-serif;
	font-size: 20px;
}

/* Form Input Styling */

fieldset {
	border: none;
}

input {
	color: #505050;
	border-style: none;
	margin-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	height: 48px;
	padding-top: 0px;
	display: block;
}

textarea:-moz-placeholder {
      color: #999;
}

input:-moz-placeholder {
      color: #999;
}

.name {
	background: url(form-elements.png) no-repeat 0px 0px;
	font:12px/1.5 verdana,helvetica,"Lucida Sans","Lucida Sans Unicode","Lucida Grande",sans-serif;
	margin-top: 0px;
	width: 270px;
	padding-right: 22px;
}

.name:focus {
	background: url(form-elements.png) no-repeat 0px -48px;
}

.email {
	background: url(form-elements.png) no-repeat 0px 0px;
	font:12px/1.5 verdana,helvetica,"Lucida Sans","Lucida Sans Unicode","Lucida Grande",sans-serif;
	width: 270px;
	padding-right: 22px;
}

.email:focus {
	background: urlform-elements.png) no-repeat 0px -48px;
}

.verify {
	background: url(humantest.png) no-repeat 0px 0px;
	font:12px/1.5 verdana,helvetica,"Lucida Sans","Lucida Sans Unicode","Lucida Grande",sans-serif;
	width: 48px;
	padding-right: 22px;
}

.verify:focus {
	background: url(humantest.png) no-repeat 0px -48px;
	font:12px/1.5 verdana,helvetica,"Lucida Sans","Lucida Sans Unicode","Lucida Grande",sans-serif;
	width: 48px;
	padding-right: 22px;
}

.comment {
	background: url(textarea.png) no-repeat;
	font:12px/1.5 verdana,helvetica,"Lucida Sans","Lucida Sans Unicode","Lucida Grande",sans-serif;
	border-style: none;
	outline: none;
	color: #505050;
	display: block;
	padding: 20px 20px 0px 20px;
	width: 270px;
	height: 288px;
	margin-bottom: 15px;
	overflow: auto;
	resize: none;
}

.comment:focus {
	background: url(textarea.png) no-repeat 0px -308px;
}

.error_message {
	color: #BB2025;
}

#stamp {
	background: url(stamp.png) no-repeat;
	display: inline-block;
	height: 150px;
	width: 143px;
	position: relative;
	top: -100px;
	left:  270px;
	z-index: 2;
}

#stamp_success {
	background: url(stamp_success.png) no-repeat;
	display: inline-block;
	height: 150px;
	width: 143px;
	position: relative;
	top: -110px;
	left:  270px;
	z-index: 2;
}

#stamp_error {
	background: url(stamp_error.png) no-repeat;
	display: inline-block;
	height: 150px;
	width: 143px;
	position: relative;
	top: -110px;
	left:  270px;
	z-index: 2;
}

